#ModalButon{
    background-color: black;
    color: white;
}

.itemModal{
    font-weight: bold;
    margin-bottom: 2%;
}

.ModalImg{
    height: auto;
    width: 80%;
}

.close{
    background-color: black;
    color: black;
}

